#in-action {
  background: radial-gradient(
    ellipse at 50% 50%,
    rgb(15, 66, 21) 0%,
    rgba(0, 0, 0, 1) 69%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;

  #in-action-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #in-action-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    --_img_iframe_height: 480px;

    img {
      border: 0px solid var(--accent-main-clr);
      height: var(--_img_iframe_height);
      aspect-ratio: 9 / 16;
      border-radius: 0.5rem;
      object-fit: cover;
    }

    iframe {
      border: 0px solid var(--accent-main-clr);
      height: var(--_img_iframe_height);
      aspect-ratio: 9 / 16;
      border-radius: 0.5rem;
    }
  }
}
