#main-banner {
  --_banner-height: calc(100vh - 86px);
  height: var(--_banner-height);
  width: 100%;
  display: flex;
  background-color: rgb(34, 34, 34);
  background: rgb(38, 180, 56);
  background: radial-gradient(
    circle at 75%,
    rgba(38, 180, 56, 1) 0%,
    rgb(15, 66, 21) 25%,
    rgba(0, 0, 0, 1) 70%
  );

  #main-banner-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 2rem;

    #main-banner-text-1 {
      --_h1-font-size: 4rem;
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 0.5rem;

      h1 {
        font-size: var(--_h1-font-size);
      }

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h1 {
          font-size: var(--_h1-font-size);
        }

        img {
          height: var(--_h1-font-size);
        }
      }
    }

    #main-banner-text-2 {
      h3 {
        font-weight: normal;
      }
    }

    #main-banner-text-btns {
      display: flex;
      gap: 1rem;

      button {
        padding: 0.2rem;
        font-size: 1rem;
        width: 7rem;
        border-radius: 1rem;
        cursor: pointer;
        background-color: var(--accent-main-clr);
        font-weight: bold;

        a {
          color: #000;
        }
      }
    }
  }

  #main-banner-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img {
      height: calc(var(--_banner-height) * 0.9);
      object-fit: contain;
    }
  }
}

@media (max-width: 900px) {
  #main-banner {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 100%;

    #main-banner-text {
      width: 100%;
      height: fit-content;

      #main-banner-text-1 {
        --_h1-font-size: 3rem;
      }
    }

    #main-banner-img {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  #main-banner {
    #main-banner-text {
      #main-banner-text-1 {
        --_h1-font-size: 2rem;
      }
    }
  }
}
