#about-us {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;

  #about-us-profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 10rem;

    .about-us-profile-card {
      outline: 1px solid var(--accent-dark-clr);
      border: 15px solid var(--bg-main-clr);
      border-radius: 0.5rem;
      aspect-ratio: 5/7;
      width: 25rem;

      //mtg card: 750*1050 px (5/7), art box: 690*540 px (23/18), text box: 690*384 px (115/64)

      .name-box {
        border: 1px solid var(--accent-dark-clr);
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        display: flex;
        justify-content: space-between;

        .mana-cost {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 2px;

          img {
            width: 1rem;
            height: 1rem;
            aspect-ratio: 1/1;
          }
        }
      }

      .art-box {
        padding: 0.4rem 0.5rem;
        aspect-ratio: 23/18;
        display: flex;
        align-items: center;

        img {
          aspect-ratio: 23/18;
          object-fit: cover;
          border: 1px solid var(--accent-dark-clr);
        }
      }

      .type-box {
        border: 1px solid var(--accent-dark-clr);
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .set-symbol {
          img {
            object-fit: cover;
            width: 5rem;
          }
        }
      }

      .text-box {
        aspect-ratio: 115/64;
        padding: 0.4rem 0.5rem;
        position: relative;

        .text-box-inner {
          width: 100%;
          height: 100%;
          border: 1px solid var(--accent-dark-clr);
          padding: 0.4rem 1rem;

          p {
            line-height: 1.5rem;
          }
        }
      }

      .text-box::before {
        content: "";
        position: absolute;
        left: calc(50% - 1rem);
        bottom: -1px;
        width: 2rem;
        aspect-ratio: 2/1;
        border-radius: 50%;
        border: 1px solid var(--accent-dark-clr);
        background: linear-gradient(
          90deg,
          white 0%,
          silver 40%,
          rgb(72, 72, 72) 95%
        );
        background-size: 150% 150%;
        animation: gradientAnimation 5s ease infinite;
      }

      @-webkit-keyframes gradientAnimation {
        0% {
          background-position: 10% 0%;
        }
        50% {
          background-position: 91% 100%;
        }
        100% {
          background-position: 10% 0%;
        }
      }
      @-moz-keyframes gradientAnimation {
        0% {
          background-position: 10% 0%;
        }
        50% {
          background-position: 91% 100%;
        }
        100% {
          background-position: 10% 0%;
        }
      }
      @keyframes gradientAnimation {
        0% {
          background-position: 10% 0%;
        }
        50% {
          background-position: 91% 100%;
        }
        100% {
          background-position: 10% 0%;
        }
      }

      .text-box::after {
        content: "3 / 4";
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: black;
        border: 1px solid var(--accent-dark-clr);
        border-radius: 0.5rem;
        padding: 0.2rem 0.7rem;
      }
    }
  }
}

@media (max-width: 420px) {
  #about-us {
    #about-us-profile-container {
      row-gap: 0;

      .about-us-profile-card {
        scale: 0.9;

        p {
          font-size: 0.85rem;
        }
      }
    }
  }
}
